doctype html
html
  head
    title= title
    //- Bootstrap CSS CDNs
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css", integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T", crossorigin="anonymous")
    link(rel="stylesheet", href="https://use.fontawesome.com/releases/v5.7.1/css/all.css", integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr", crossorigin="anonymous")
  
  body
    header
      nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
        a.navbar-brand(href='/') Home
        button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarNavDropdown', aria-controls='navbarNavDropdown', aria-expanded='false', aria-label='Toggle navigation')
          span.navbar-toggler-icon
        
        .collapse.navbar-collapse(id='navbarNavDropdown')
          ul.navbar-nav
            li.nav-item.active
              a.nav-link(href='/library') Library
                span.sr-only (current)
            li.nav-item
              a.nav-link(href='/About') About 
    .content
      block content

  
    footer.page-footer.font-small.special-color-dark.pt-4
      .container
      ul.list-unstyled-list-inline-text-center.social
        li.list-inline-item.fb
          a.btn-floating.mx-1(href="https://www.facebook.com/profile.php?id=100009207184261")
            i.fab.fa-facebook-f 
        li.list-inline-item.tw
          a.btn-floating.mx-1(href="https://twitter.com/nolankurylo")
            i.fab.fa-twitter 
        li.list-inline-item.li
          a.btn-floating.mx-1(href="https://www.linkedin.com/in/nolan-kurylo-03bb2a154/")
            i.fab.fa-linkedin-in 
        li.list-inline-item.gi
          a.btn-floating.mx-1(href="https://github.com/nolankurylo")
            i.fab.fa-github
  //- jQuery, Bootstrap JS CDNs
  script(src="https://code.jquery.com/jquery-3.4.1.js", integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=", crossorigin="anonymous")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js", integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1", crossorigin="anonymous")
  script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js", integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM", crossorigin="anonymous")
  